@import 'index.scss';

.container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
  background: white;
}

.leftBoxContainer {
  display: inline-block;
  padding: 5px;
  width: 30%;
  min-width: 300px;
}

.rightBoxContainer {
  display: inline-block;
  padding: 5px;
  width: 65%;
  min-width: 300px;
}

.innerContainer {
  border: 2px solid $blue5;
  border-radius: 10px;
  padding: 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hashcastContainer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.basictext {
  padding-top: 5px;
  padding-bottom: 5px;
}

.input {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  color: $gray3;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $gray7;
  background-clip: padding-box;
  border: 1px solid $gray6;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  max-width: 460px;
}

.input:focus {
  color: #495057;
  background-color: $gray7;
  border-color: $blue4;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $blue5;
}

.input::placeholder {
  font-size: 13px;
}

.button {
  border-radius: 10px;
  background-color: $blue2;
  color: white;
}

.smallButton {
  border-radius: 10px;
  background-color: $blue2;
  width: 30%;
  flex: none;
  color: white;
}

.smallInput {
  width: 50%;
}

@media screen and (max-width: 950px) {
  .leftBoxContainer {
    width: 100%;
  }
  .rightBoxContainer{
    width: 100%;
  }
}
